body {
  margin: 0;
  padding: 0;
}

.app-container {
  background-color: #c4c4c4;
  min-width: 100vw;
  min-height: 100vh;
}

.search-container {
  width: 660px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 60px 80px;
}

.repo-input {
  width: 500px;
  height: 60px;
  margin-bottom: 265px;
  padding: 5px 15px;
  box-sizing: border-box;
  font-size: 48px;
  font-family: Roboto;
}

.repo-card {
  width: 500px;
  height: 100px;
  background-color: #e27beb;
  border: 1px solid #000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 8px 16px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repo-info {
  width: 80%;
  color: #000;
  font-size: 24px;
  font-weight: 400;

  display: flex;
  flex-direction: column;
}

.remove-btn {
  background-color: transparent;
  border: none;
  width: 42px;
  height: 42px;
  padding: 0;

  position: relative;
}

.remove-btn::after,
.remove-btn::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #ff0000;
}

.remove-btn::after {
  transform: rotate(45deg);
}

.remove-btn::before {
  transform: rotate(-45deg);
}

.input-wrapper {
  position: relative;
}

.suggestions-list {
  position: absolute;
  top: 60px;
  width: 500px;
  background-color: #e4e4e4;
  font-size: 48px;
}

.suggestion-item {
  font-size: 30px;
  width: 100%;
  height: 40px;
  border: 2px solid #000000;
  padding: 5px 15px;
  box-sizing: border-box;
  margin: 0;
  cursor: pointer;
}

.empty-message {
  font-size: 30px;
  width: 100%;
  height: 40px;
  padding: 5px 15px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 0;
}
